.placeholder {
  width: calc(180px * 1.5);
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1.5;
}
img {
  display: block;
  width: calc(180px * 1.5);
  height: 180px;
  aspect-ratio: 1.5;
}
.mat-mdc-card:hover {
  cursor: pointer;
}
