.placeholder {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  display: block;
  width: 300px;
  height: 200px;
}
.mat-mdc-card:hover {
  cursor: pointer;
}
