<div class="container">
  <h1>Click below to start the countdown & capture</h1>
  <div id="overlay-container">
    @if (!activeSnapshot()) {
      @if (!captureActive()) {
        <img [src]="activeStream()" alt="Live Preview" />
        @if (countDownActive()) {
          <div id="overlay">{{ countDownRemaining() }}</div>
        }
      } @else {
        <img src="{{ CONFIG.BACKEND_LAST_URL }}" alt="Last Preview" />
        <div id="overlay">Capture in progress!</div>
      }
    } @else {
      <img [src]="activeSnapshot()?.image_b64" alt="Taken Picture" />
    }
  </div>
  <div class="flex">
    @if (!captureActive()) {
      @if (!activeSnapshot()) {
        <button mat-flat-button (click)="startCountDown()">Start!</button>
      } @else {
        <button mat-stroked-button (click)="deleteAndLeave()">
          Back to Start
        </button>
        <button mat-stroked-button (click)="deleteAndRetry()">Re-Try</button>
        <button mat-flat-button (click)="saveAndPrint()">Save & Print</button>
      }
    }
  </div>
</div>
