img {
  height: 70vh;
  aspect-ratio: 1.5;
}
#overlay-container {
  position: relative;
  max-height: 70vh;
  aspect-ratio: 1.5;
  margin-bottom: 18px;
}

#overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  z-index: 10;
}
