<div class="container">
  @if (captureActive()) {
    <h1>Smile!</h1>
  } @else if (!activeSnapshot()) {
    <h1>Prepare yourself!</h1>
  } @else {
    <h1>Wonderful!</h1>
  }
  <div id="overlay-container">
    @if (!activeSnapshot()) {
      @if (!captureActive()) {
        <img [src]="activeStream()" alt="Live Preview" />
        @if (countDownActive()) {
          <div id="overlay">{{ countDownRemaining() }}</div>
        }
      } @else {
        <img src="{{ CONFIG.BACKEND_LAST_URL }}" alt="Last Preview" />
        <div id="overlay">Capture in progress!</div>
      }
    } @else {
      <img [src]="activeSnapshot()?.image_b64" alt="Taken Picture" />
    }
  </div>
  <div class="flex">
    @if (!captureActive()) {
      @if (!activeSnapshot()) {
        <button mat-stroked-button (click)="leave()">Change Layout</button>
        <button mat-flat-button (click)="countDownAndSnapshot(layout.n_images)">
          Ready!
        </button>
      } @else {
        <button mat-stroked-button (click)="deleteAndLeave()">
          Delete & Change Layout
        </button>
        <button mat-stroked-button (click)="deleteAndRetry()">
          Delete & Re-Try
        </button>
        <button mat-flat-button (click)="save(false)">Save</button>
        <button mat-flat-button (click)="save(true)">Save & Print</button>
      }
    }
  </div>
</div>
