/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
h1 {
  text-align: center;
}
div.container {
  width: 80vw;
  height: calc(100vh - 64px);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

div.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.mat-toolbar {
  background-color: var(
    --mdc-filled-button-container-color,
    var(--mat-sys-primary)
  ) !important;
  color: white !important;
}
